In [235]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [236]:
# data = 'wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
# !wget $data

In [237]:
df = pd.read_csv("housing.csv")
del df['ocean_proximity']
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

# Q1

In [218]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

# Q2

In [219]:
df.population.median()

1166.0

In [220]:
np.random.seed(42)
df_len =len(df)
idx = np.arange(df_len)
np.random.shuffle(idx)
df = df.iloc[idx]

df_train = df.iloc[:int(df_len * 0.6)]
df_val = df.iloc[int(df_len * 0.6):int(df_len * 0.8)]
df_test = df.iloc[int(df_len * 0.8):]

y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

# Q3

In [205]:
mean= df_train.total_bedrooms.mean()
print("training mean:", mean)

def train_linear_regression(X,y):
    
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones,X])
    
    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0],w_full[1:]

def RMSE(y_pred,y_train):
    
    n = len(y_pred)
    rmse = 0
    
    for i in range(n):
        
        rmse = rmse + (y_pred[i] - y_train[i])**2
        
    return np.sqrt(rmse/n)

training mean: 533.4803317730147

In [208]:
for fill in [0,mean]:
    df_train_try = df_train.copy()
    df_val_try = df_val.copy()

    #print(df_train_try.isnull().sum())
    df_train_try['total_bedrooms'] = df_train_try['total_bedrooms'].fillna(fill)
    df_val_try['total_bedrooms'] = df_val_try['total_bedrooms'].fillna(fill)

    X_train = df_train_try.values
    X_val = df_val_try.values
    
    w0, w = train_linear_regression(X_train,y_train)
    
    y_pred = w0 + X_val.dot(w)

    rmse = np.round(RMSE(y_pred,y_val),2)
    print(fill, rmse)

0 0.33
533.4803317730147 0.33

# Q4

In [223]:
def train_linear_regression_reg(X,y, r = 0.01):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones,X])
    
    XTX = X.T.dot(X)
    XTX = XTX + r * np.eye(XTX.shape[0])
    
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0],w_full[1:]

def RMSE(y_pred,y_train):
    
    n = len(y_pred)
    rmse = 0
    
    for i in range(n):
        
        rmse = rmse + (y_pred[i] - y_train[i])**2
        
    return np.sqrt(rmse/n)

In [224]:
df_train['total_bedrooms'] = df_train['total_bedrooms'].fillna(0)
df_val['total_bedrooms'] = df_val['total_bedrooms'].fillna(0)

X_train = df_train.values
X_val = df_val.values

C:\Users\rolly\AppData\Local\Temp\ipykernel_19732\2182539139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['total_bedrooms'] = df_train['total_bedrooms'].fillna(0)
C:\Users\rolly\AppData\Local\Temp\ipykernel_19732\2182539139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_val['total_bedrooms'] = df_val['total_bedrooms'].fillna(0)

In [225]:
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    
    w0, w = train_linear_regression_reg(X_train,y_train,r)
    y_pred = w0 + X_val.dot(w)
    rmse = np.round(RMSE(y_pred,y_val),2)
    print(r, rmse)

0 0.33
1e-06 0.33
0.0001 0.33
0.001 0.33
0.01 0.33
0.1 0.33
1 0.33
5 0.34
10 0.34

# Q5

In [226]:
def train_linear_regression(X,y):
    
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones,X])
    
    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0],w_full[1:]

def RMSE(y_pred,y_train):
    
    n = len(y_pred)
    rmse = 0
    
    for i in range(n):
        
        rmse = rmse + (y_pred[i] - y_train[i])**2
        
    return np.sqrt(rmse/n)

In [232]:
scores = []

for seed in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    
    np.random.seed(seed)
    df_len =len(df)
    idx = np.arange(df_len)
    np.random.shuffle(idx)
    df = df.iloc[idx]

    df_train = df.iloc[:int(df_len * 0.6)]
    df_val = df.iloc[int(df_len * 0.6):int(df_len * 0.8)]
    df_test = df.iloc[int(df_len * 0.8):]

    y_train = np.log1p(df_train.median_house_value.values)
    y_val = np.log1p(df_val.median_house_value.values)
    y_test = np.log1p(df_test.median_house_value.values)

    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    df_train['total_bedrooms'] = df_train['total_bedrooms'].fillna(0)
    df_val['total_bedrooms'] = df_val['total_bedrooms'].fillna(0)

    X_train = df_train.values
    X_val = df_val.values
    
    w0, w = train_linear_regression(X_train,y_train)
    y_pred = w0 + X_val.dot(w)
    rmse = RMSE(y_pred,y_val)
    scores.append(rmse)
    print(seed, rmse)

C:\Users\rolly\AppData\Local\Temp\ipykernel_19732\1384729667.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['total_bedrooms'] = df_train['total_bedrooms'].fillna(0)
C:\Users\rolly\AppData\Local\Temp\ipykernel_19732\1384729667.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_val['total_bedrooms'] = df_val['total_bedrooms'].fillna(0)

0 0.347133286436073
1 0.3375557874472056
2 0.34221569079729636
3 0.3415344544797574
4 0.34451363462199547
5 0.3353223532232082
6 0.34169862135320883
7 0.342397808056458
8 0.33443726480293945
9 0.3375691470986831

In [233]:
np.round(np.std(scores),3)

0.004

# Q6

In [238]:
def train_linear_regression_reg(X,y, r = 0.01):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones,X])
    
    XTX = X.T.dot(X)
    XTX = XTX + r * np.eye(XTX.shape[0])
    
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0],w_full[1:]

def RMSE(y_pred,y_train):
    
    n = len(y_pred)
    rmse = 0
    
    for i in range(n):
        
        rmse = rmse + (y_pred[i] - y_train[i])**2
        
    return np.sqrt(rmse/n)

In [239]:
np.random.seed(9)
df_len =len(df)
idx = np.arange(df_len)
np.random.shuffle(idx)
df = df.iloc[idx]

df_train = df.iloc[:int(df_len * 0.6)]
df_val = df.iloc[int(df_len * 0.6):int(df_len * 0.8)]
df_test = df.iloc[int(df_len * 0.8):]

y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [240]:
df_full_train = pd.concat([df_train,df_val])
df_full_train = df_full_train.reset_index(drop = True)
df_full_train['total_bedrooms'] = df_full_train['total_bedrooms'].fillna(0)
df_test['total_bedrooms'] = df_test['total_bedrooms'].fillna(0)
y_full_train = np.concatenate([y_train,y_val])


X_full_train = df_full_train.values
X_test = df_test.values

C:\Users\rolly\AppData\Local\Temp\ipykernel_19732\3364852105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['total_bedrooms'] = df_test['total_bedrooms'].fillna(0)

In [241]:
r = 0.001
w0, w = train_linear_regression_reg(X_full_train,y_full_train,r)
y_pred = w0 + X_test.dot(w)
rmse = RMSE(y_pred,y_test)
rmse

0.345316891437892